<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
</head>

<body>
    <header>
        <h1>{{ site.title }}</h1>
        <nav>
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/about.html">关于</a></li>
            </ul>
        </nav>
    </header>

    <div>
        {{ content }}
    </div>

    <footer>
        <p>版权所有 &copy; {{ site.title }} {{ "now" | date: "%Y" }}</p>
    </footer>
</body>

</html>
